<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/hoem">
    HelloEvents
  </button>

  <span style="flex: 1 1 auto;"></span>

  <button routerLink="/home" mat-button>Home</button>
  <button routerLink="/About" mat-button>About</button>

  <!-- Menu Client -->
  <button mat-button [mat-menu-trigger-for]="importMenu">
    Client
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/AddClient">Ajouter</button>
    <button mat-menu-item routerLink="/AffClient">Afficher</button>

  </mat-menu>

  <button mat-button [mat-menu-trigger-for]="Reser">
    Reservation
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #Reser>
    <button mat-menu-item>Ajouter</button>
    <button mat-menu-item>Afficher</button>

  </mat-menu>

  <!-- Menu Evenement -->
  <button mat-button [mat-menu-trigger-for]="event">
    Evenement
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #event>
    <button mat-menu-item routerLink="/AddEvent">Ajouter</button>
    <button mat-menu-item routerLink="/AffEvent">Afficher</button>

  </mat-menu>

  <button mat-button>Logout</button>
</mat-toolbar>

<mat-drawer-container>


  <mat-drawer-content>
    <div >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

