<mat-toolbar color="primary">
  <button mat-icon-button (click)="mydrawar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto"></span>
  <button mat-button>Home</button>
  <button mat-button>Profile</button>
  <button mat-button [mat-menu-trigger-for]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Client</button>
  <mat-menu #importMenu>
    <button mat-menu-item>Ajoute</button>
    <button mat-menu-item>Affiche</button>
    <button mat-menu-item>Modifier</button>
  </mat-menu>
  <button mat-button [mat-menu-trigger-for]="Reser">
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Reservation</button>
  <mat-menu #Reser>
    <button mat-menu-item>Ajoute</button>
    <button mat-menu-item>Affiche</button>
    <button mat-menu-item>Modifier</button>
  </mat-menu>
  <button mat-button [mat-menu-trigger-for]="event">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Evenement</button>
  <mat-menu #event>
    <button mat-menu-item>Ajoute</button>
    <button mat-menu-item>Affiche</button>
    <button mat-menu-item>Modifier</button>
  </mat-menu>
  <button mat-button>Logout</button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #mydrawar opened="true" position="start" mode="side">
      <mat-list>
        <mat-list-item>
              <button mat-button>
                <mat-icon>dashboard</mat-icon>
                Dashboard</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>dashboard</mat-icon>
            Client</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>dashboard</mat-icon>
            Evenement</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>dashboard</mat-icon>
            Reservation</button>
        </mat-list-item>
      </mat-list>

    </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 800px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
