<app-amin-templat></app-amin-templat>
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4  services">
          <img src="images-removebg-preview (1).png" class="services-img rounded mx-auto d-block">
          <h4 class="text-center">Gestion de Evenement</h4>
          <p class="text-center"> La gestion d’événement désigne l’ensemble des activités liées à la planification,
            l’organisation, la coordination et le suivi d’un événement,
            qu’il soit professionnel (conférence, séminaire, salon),
            culturel (concert, festival), ou privé (mariage, anniversaire).</p>
          <div class="d-flex justify-content-center"> <button routerLink="/AffEvent" CLASS="mb-5 text-center"  mat-flat-button>Voir les Evenement</button>
          </div>
        </div>
        <div class="col-md-4 services">
          <img src="images-removebg-preview (2).png" class="services-img rounded mx-auto d-block">
            <h4>Gestion de réservation</h4>
          <p class="text-center">La gestion de réservation désigne le processus d'organisation,
            de traitement et de suivi des demandes de réservation pour un service,
            un lieu, un événement ou un produit</p>
          <div class="d-flex justify-content-center">
            <button CLASS="mb-5 text-center"  mat-flat-button>Voir les Reservation</button>
          </div>
        </div>
        <div class="col-md-4 services">
          <img src="download-removebg-preview (6).png" class="services-img rounded mx-auto d-block ">
          <h4 class="text-center">Gestion de client dans un événement </h4>
          <p class="text-center">La gestion de client dans le cadre d’un événement désigne l’ensemble des actions
              visant à gérer les participants (clients ou invités) d’un événement,
            de leur inscription à leur suivi après l'événement.</p>
          <div class="d-flex justify-content-center"><button routerLink="/AffClient" CLASS="mb-5 text-center"  mat-flat-button>Voir les Clients</button>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer> </app-footer>
