<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="promo-titre">Bienvenue sur votre plateforme de gestion des Evènement !  </h1>
        <p>L'objectif principal de ce projet est de concevoir
          et développer une REST API  en utilisant Spring Boot de gestion des
          produits de pharmacie. Cette application permettra au fondateur de la
          pharmacie de ajouter de nouveaux produits à la base de données, modifier les
          informations des produits existants, supprimer des produits
          obsolètes ou non pertinents et de consulter les produits disponibles.</p>
          <button class="btn btn-primary mb-5">A propros</button>
      </div>
      <div class="col-md-6 text-center">
          <img style="width: 600px;" src="téléchargement (1).png">
      </div>
    </div>
  </div>
</section>
